<html>

<!-- <% include ../partials/header%> -->

<head>
    <title>
        <%=pageTitle%>
    </title>
</head>

<body>
    <h2>Edit Student</h2>
    <div id="form-input">
        <form action="/students/edit/<%=dataRowStudent.id %>" method="post">
            <br> First Name :
            <br>
            <input type="text" name="first_name" value="<%=dataRowStudent.first_name %>"> <br> Last Name :
            <br>
            <input type="text" name="last_name" value="<%=dataRowStudent.last_name %>"><br> Email :
            <br>
            <input type="text" name="email" value="<%=dataRowStudent.email%>"><br>
            <br>
            <input type="submit" value="Save">
        </form>

    </div>

</body>

</html>