<html>
<% include ../partials/head %>

    <body>
        <% include ../partials/menu%>

            <body>
                <div id="main-table">
                    <h2>
                        Students Data
                    </h2>
                    <table border="1" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th>No</th>
                            <th>ID</th>
                            <th>Students Name</th>
                            <th>Score</th>
                            <th>Desc</th>
                        </tr>
                        <% dataStudentSubject.forEach(function(row, index){%>
                            <tr>
                                <td>
                                    <%=index+1%>
                                </td>
                                <td>
                                    <%=row.id %>
                                </td>
                                <td>
                                    <%=row.Student.getFullName()%>
                                </td>
                                <%if(row.score){ %>
                                    <td>
                                        <%=row.score%>
                                    </td>
                                    <td>
                                        <%=row.getScoreLetter()%>
                                    </td>
                                    <%}else{%>
                                        <td>
                                            <a href="/subjects/<%=row.SubjectId%>/<%=row.id%>/givescore">Give Score</a>
                                        </td>
                                        <td>
                                            Empty
                                        </td>
                            </tr>
                            <%}})%>

                    </table>
                    <br>
                </div>

            </body>

</html>