<!DOCTYPE html>
<html>

<% include ../partials/head%>

    <body>
        <% include ../partials/menu%>
            <div id="main-table">
                <h2>
                    Users Data
                </h2>
                <table style="width:100%">
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Role</th>
                        <th colspan="2">Action</th>
                    </tr>
                    <% dataUser.forEach(function(row, index){%>
                        <tr>
                            <td>
                                <%=index+1 %>
                            </td>
                            <td>
                                <%=row.id %>
                            </td>
                            <td>
                                <%=row.username %>
                            </td>
                            <td>
                                <%=row.password %>
                            </td>
                            <td>
                                <%=row.role %>
                            </td>

                            <td>
                                <a href="/users/edit/<%=row.id%>">Edit</a>
                            </td>
                            <td>
                                <a href="/users/delete/<%=row.id%>">Delete</a>
                            </td>
                        </tr>
                        <%})%>
                </table>
            </div>
            <div id="menu-add">
                <a href="/users/add">Add Data User</a>
            </div>



    </body>

</html>